body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    vertical-align: middle;
    background: rgb(166,201,236);
    background: linear-gradient(90deg, rgba(166,201,236,1) 0%, rgba(224,200,231,1) 52%, rgba(164,196,228,1) 100%);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 236, 240);
    width: 30vw;

    padding-top: 5em;
    border:2px solid rgb(8, 8, 22);
    border-radius: 2em;
    margin: auto;
    margin-top: 5em;
}

img{
    border-radius: 50%;
    border: 1px dashed black;
    border-style: groove;
}

img:hover{
    transform: scale(1.1);
    
    
}

p{
    font-weight: bold;
    font-size: 1.8em;
}

section{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

.button{
    text-decoration: none;
    background-color:azure;
    font-size: 1.2em;
    vertical-align: middle;
    border-radius: 2em;
    border: 1px solid gray;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin-bottom: 1em;
    width: 100%;
    height: 1.4em;
}

a{
    text-decoration: none;
    color: black;
}

.button:hover{
    background-color:rgb(197, 209, 219);
}

@media only screen and (max-device-width: 900px) {
    main{
        width: 100%;
    }
    }