body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 230, 230);
    width: 30vw;

    padding-top: 5em;
    border:2px solid rgb(8, 8, 22);
    border-radius: 2em;
    margin: auto;
    margin-top: 5em;
}

img{
    border-radius: 50%;
}

p{
    font-weight: bold;
    font-size: 1.8em;
}

section{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

.button{
    text-decoration: none;
    background-color:azure;
    font-size: 1.2em;
    vertical-align: middle;
    border-radius: 2em;
    border: 1px solid gray;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin-bottom: 1em;
    width: 100%;
    height: 1.4em;
}

.button:hover{
    background-color:rgb(197, 209, 219);
}